

nav {
    background-color: #000000;
    border-bottom: #FFCC00 solid 4px;
}

.brand-logo {
    margin-bottom: 50px;
}

.menu-a {
    color: #9A9A9A;
}

.nav-wrapper {
    margin-top: -4px;
}

.menu-a:hover {
    color: #7b7b7b;
}

.material-icons {
    color: #9A9A9A;
}

#mobile {
    background: black;
}

#mobile a {
    color: #9A9A9A;
}

.row {
    padding: 0;
    margin: 0;
}